<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makeus6.binding">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name="com.makeus6.binding.config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 스플래시 화면 -->
        <activity android:name="com.makeus6.binding.src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.makeus6.binding.src.main.MainActivity">

        </activity>

        <!-- 로그인 화면-->
        <activity android:name="com.makeus6.binding.src.login.LoginActivity"/>

        <!-- 회원가입 화면-->
        <activity android:name="com.makeus6.binding.src.join.JoinActivity"/>

        <!-- 비밀번호 찾기 화면-->
        <activity android:name="com.makeus6.binding.src.find_password.FindPasswordActivity"/>

        <!-- 마이페이지 세팅 - 프로필 관리 화면-->
        <activity android:name=".src.main.my_page.settings.profile.SettingsProfileActivity"/>

        <!-- 마이페이지 세팅 - 비밀번호 변경 화면-->
        <activity android:name=".src.main.my_page.settings.password.ChangePWActivity"/>

        <!-- 마이페이지 세팅 - 서점 제보 화면-->
        <activity android:name=".src.main.my_page.settings.report.SettingsReportActivity"/>

    </application>

</manifest>